<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>

<head>
  <title>Timestamp Microservice</title>
  <meta name="description" content="Timestamp Microservice">
  <link id="favicon" rel="icon" href="" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1>
      API Project: Timestamp Microservice
    </h1>
  </header>

  <main>
    <p>
      <h2>
        Test cases:
      </h2>
      <div>
        <a href="/api/timestamp/" target="_blank">Empty date string</a>
      </div>
      <div>
        <a href="/api/timestamp/1479663089000" target="_blank">1479663089000</a>
      </div>
      <div>
        <a href="/api/timestamp/2016-11-20" target="_blank">2016-11-20</a>
      </div>
      <div>
        <a href="/api/timestamp/addasdsad" target="_blank">addasdsad</a>
      </div>
      <div>
        <a href="/api/timestamp/2313 a++++ssa+" target="_blank">2313 a++++ssa+</a>
      </div>
    </p>
  </main>

  <footer>

  </footer>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
    crossorigin="anonymous"></script>
  <script src="/client.js"></script>

</body>

</html>